/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(200.96deg, #656464 -29.09%, #484749 129.35%);
  font-family: sans-serif;
}

.buttonA {
  background-color: #4d39c0; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.buttonA:hover {
  background-color: #120c6b;
  transform: scale(1.05);
}

.buttonB {
  background-color: #ffffff; /* Red */
  color: rgb(76, 79, 251);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.buttonB:hover {
  background-color: #9ffcc4;
  transform: scale(1.05);
}

.image-container {
  position: relative;
  display: inline-block;
  cursor: zoom-in;
}

.image-container img {
  transition: transform 0.2s ease;
}

.image-container.enlarged img {
  transform: scale(2);
  z-index: 999;
}
